{% load static %}
<!-- Topbar Start -->
            <div class="navbar-custom">
                

                <ul class="list-unstyled menu-left mb-0">
                    <li class="float-left">
                        <a href="" class="logo">
                            <span class="logo-lg">
                                <img src="{% static 'assets/images/logo-dark.png' %}" alt="" height="22">
                            </span>
                            <span class="logo-sm">
                                <img src="{% static 'assets/images/logo-sm.png' %}" alt="" height="24">
                            </span>
                        </a>
                    </li>
                    <li class="float-left">
                        <a class="button-menu-mobile navbar-toggle">
                            <div class="lines">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </a>
                    </li>
                    <li class="app-search d-none d-md-block">
                        <form>
                            <input type="text" placeholder="Search..." class="form-control">
                            <button type="submit" class="sr-only"></button>
                        </form>
                    </li>
                </ul>
            </div>
            <!-- end Topbar -->

            <!-- ========== Left Sidebar Start ========== -->
            <div class="left-side-menu">

                <div class="slimscroll-menu">

                    <!--- Sidemenu -->
                    <div id="sidebar-menu">

                        <ul class="metismenu" id="side-menu">

                            <li class="menu-title">Navigation</li>

                            <li>
                                <a href="javascript: void(0);">
                                    <i class="dripicons-mail"></i>
                                    <span> Email </span>
                                    <span class="menu-arrow"></span>
                                </a>
                                <ul class="nav-second-level" aria-expanded="false">
                                    <li><a href="{% url 'add-mail' %}">Add New Email</a></li>
                                    <li><a href="{% url 'all-mail' %}">Email List</a></li> 
                                </ul>
                            </li>

                            <li>
                                <a href="javascript: void(0);">
                                    <i class="mdi mdi-phone"></i>
                                    <span> Phone </span>
                                    <span class="menu-arrow"></span>
                                </a>
                                <ul class="nav-second-level" aria-expanded="false">
                                    <li><a href="{% url 'add-phone' %}">Add New Phone Number</a></li>
                                    <li><a href="{% url 'all-phone' %}">Phone Number List</a></li> 
                                </ul>
                            </li>

                            <li>
                                <a href="{% url 'add-password' %}">
                                    <i class="mdi mdi-account-edit"></i>
                                    <span> New Password </span>
                                </a>
                            </li>

                            <li>
                                <a href="javascript: void(0);">
                                    <i class="dripicons-user-group"></i>
                                    <span> Authentication </span>
                                    <span class="menu-arrow"></span>
                                </a>
                                <ul class="nav-second-level" aria-expanded="false">
                                    <li><a href="auth-login.html">Change Password</a></li>
                                    <li><a href="{% url 'logout' %}">Log Out</a></li> 
                                </ul>
                            </li>

                           

                        </ul>

                    </div>
                    <!-- End Sidebar -->

                    <div class="clearfix"></div>

                </div>
                <!-- Sidebar -left -->

            </div>
            <!-- Left Sidebar End -->