{% extends 'base.html' %}

{% load static %}

{% block title %}All Emails{% endblock title %}

{% block content %}
        <table id="tech-companies-1" class="table table-striped">
            <tr>
                <th>Mails</th>
                <th>Actions</th>
            </tr>
            {% for mail in mails %}
            <tr>
                <td>{{mail.mail}}</td>
                <td><a href="{% url 'edit-mail' mail.id %}">Edit</a> <a href="{% url 'delete-mail' mail.id %}">Delete</a></td>
            </tr>
            {% endfor %}
        </table>

{% endblock content %}