{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>User Registration</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
        <meta content="Coderthemes" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        {% include 'includes/stylesheet.html' %}

    </head>

    <body class="authentication-bg authentication-bg-pattern d-flex align-items-center">

        <div class="home-btn d-none d-sm-block">
            <a href="index.html"><i class="fas fa-home h2 text-white"></i></a>
        </div>
        
        <div class="account-pages w-100 mt-5 mb-5">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-8 col-lg-6 col-xl-5">
                        <div class="card">

                            <div class="card-body p-4">
                                
                                <div class="text-center mb-4">
                                    <a href="index.html">
                                        <span><img src="assets/images/logo-light.png" alt="" height="28"></span>
                                    </a>
                                </div>

                                <form action="" method='POST' class="pt-2">
                                    {% csrf_token %}
                                    <div class="form-group mb-3">
                                        <label for="id_username">Username</label>
                                        <input class="form-control" name="username" maxlength="150" autocapitalize="none" autocomplete="username" autofocus="" required="" id="id_username" placeholder="Enter your name">
                                    </div>
                                    <div class="form-group mb-3">
                                        <label for="id_password1">Password</label>
                                        <input class="form-control" type="password" name="password1" autocomplete="new-password" required="" id="id_password1" required placeholder="Enter your email">
                                    </div>
                                    <div class="form-group mb-3">
                                        <label for="id_password2">Password Confirmation</label>
                                        <input class="form-control" type="password" name="password2" autocomplete="new-password" required="" id="id_password2" placeholder="Enter your password">
                                    </div>
                                    
                                                                        
                                    <div class="form-group mb-0 text-center">
                                        <button class="btn btn-success btn-block" type="submit"> Sign Up </button>
                                    </div> 

                                </form>

                                <div class="row mt-3">
                                    <div class="col-12 text-center">
                                        <p class="text-muted mb-0">Already have account?  <a href="{% url 'login' %}" class="text-dark ml-1"><b>Sign In</b></a></p>
                                    </div> <!-- end col -->
                                </div>
                                <!-- end row -->

                            </div> <!-- end card-body -->
                        </div>
                        <!-- end card -->

                    </div> <!-- end col -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </div>
        <!-- end page -->

        {% include 'includes/scripts.html' %}
        
    </body>
</html>